body {
    padding: 0;
    margin: 0;
    font-family: Roboto;
}

a {
    text-decoration: none;
}

h1 h2 h3 h4 h5 h6 {
    font-weight: 900;
}

p {
    font-weight: 100;
    max-width: 270px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

header {
    display: flex;
    justify-content: space-between;
    background: #00a8ff;
}

header a h1 {
    color: black;
    margin-left: 5rem;
}

header ul {
    display: flex;
}

header ul li {
    list-style: none;
    min-width: 100px;
    margin: auto;
}

header ul a {
    color: black;
}

button {
    font-weight: 600;
}

button:hover {
    box-shadow: 2px 2px 3px #dcdde1;
}

.btn {
    box-shadow: 1px 1px 2px #dcdde1;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
}

.btn-bleu {
    background-color: #0097e6;
}

.btn-bleu:hover {
    background-color: #0079b8;
}

.btn-bleu:active {
    background-color: #00a0ff;
}

.btn-red {
    background-color: #e84118;
}

.btn-red:hover {
    background-color: #ba3413;
}

.btn-red:active {
    background-color: #ff3100;
}

#list-produits {
    margin: 2% 10%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.text-conteneur {
    background: #dcdde1;
}

.text-conteneur h2 {
    padding: 5rem;
    margin: 0;
}

.produit {
    background: #ECECEC;
    margin: 1rem 1rem;
    height: min-content;
}

.produit img {
    max-height: 200px;
}

.text-conteneur {
    padding: 1rem;
}

.text-conteneur div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-panier {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

table {
    background-color: #dcdde1;
    text-align: center;
}

th {
    padding: 1rem 0;
    background-color: #dcdde1;
}

td{
    padding: 1rem 0;
    background-color: #ECECEC;
    margin: 0;
}

.th-1 {
    width: 20rem;
}

.th-2 {
    width: 10rem;
}

.th-4 {
    width: 10rem;
}

.th-5 {
    width: 150px;
}

.formulaire {
    width: 20rem;
    margin: 3rem auto;
}

.input-conteneur {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.btn-validation-conteneur {
    display: flex;
    justify-content: flex-end;
    margin: 2rem 5rem 0 0;
}

.conteneur-produit {
    margin: 2% 10%;
    background-color: #dcdde1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.conteneur-produit img {
    max-height: 400px;
}

.conteneur-produit div {
    display: flex;
    flex-direction: column;
}

.conteneur-produit div * {
    margin: 0.5rem 0;
}

.conteneur-commande {
    margin: 2% 10%;
    background-color: #dcdde1;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.erreur {
    border: 2px solid red;
}

.confirmation-text-mobile {
    min-width: 450px;
    text-align: center;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    header > a{
        display: none;;
    }

    header ul {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    header ul li a {
        font-weight: bold;
        font-size: 1.2em;
    }

    #list-produits {
        justify-content: center;
    }

    .produit {
        width: 300px;
        margin: 1rem 0;
        overflow: hidden;
        box-shadow: 2px 2px 2px #ECECEC;
    }

    .text-conteneur {
        white-space: nowrap;
    }

    .text-conteneur h2 {
        padding: 1rem;
        font-size: 1em;
    }

    .conteneur-produit {
        margin: 0;
        padding: 1rem;
        flex-direction: column;
        justify-content: center;
        background-color: #ECECEC;
    }

    .conteneur-produit img{
        min-width: 250px;
        max-width: 300px;
    }

    .text-produit {
        padding: 1rem;
    }

    .btn-validation-conteneur {
        margin: 0;
        justify-content: center;
    }

    .mobile-titre {
        white-space: normal;
    }

    .conteneur-commande {
        background-color: initial;
    }

    .mobile-confirmation {
        max-width: 250px;
    }

    .mobile-confirmation p {
        text-align: left;
        white-space: initial;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
    .conteneur-img-produit {
        max-width: 1000px;
    }
    #list-produits {
        justify-content: space-evenly;
        margin: 2% 1%;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    #conteneur-produit {
        flex-direction: column;
    }
}